<h2 style="font-family:Arial;">Peptides Panel | Administration</h2>
Somebody requested to reset the password for this account.<br/><br/>
To continue, please access <a href="${host}/resetPassword?uuid=${uuid}">this link</a>.<br/><br/>
If you think this was a mistake, just ignore the message.
 